{% extends 'pages/base.html' %}
{% load static%}
{% load fontawesome %}

{% block title%}Liên hệ{% endblock title %}

{% block signup %}
    {% include 'include/sigin.html'%}
{% endblock signup %}

{% block headerimage %}
{% include 'include/header_image.html' %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active breadcrumb-item-home" aria-current="page">Liên hệ</li>
{% endblock breadcrumb %}

{% block newpost %}
{% for obj in post_new %}
<a style="text-decoration:none;color:black" href="{% url 'blog:post_detail' slug=obj.slug %}">{% fontawesome_icon 'angle-double-right' color="red"%}  {{obj.title}}</a>
{% endfor %}
{% endblock newpost%}


{% block content%}
<div class="col-md-8 text-center">
    <div class="card my-4">
        <div class="card-header">
        <h1 class="h4">THÔNG TIN LIÊN HỆ</h1>
        </div>
        <div class="float-center m-4">
            <img src="{% static 'images/mrxinnian.jpg'%}" class="rounded-circle " width="120px" height="150px">
            <h2 class="card-title h4">Ha Nguyen Huu</h2>
        </div>
        
        <div class="card-body">
        
        <div class="row">
            <div class="col-md-6 text-left ">
                <p class="card-text m-0">Nickname:huuha84</p>
                <p class="card-text m-0">Email: huuha84@gmail.com</p> 
                <h4 class="m-2">Personal information</h4>
                <p class="card-text m-0">Gentle: Male</p>
                <p class="card-text m-0">Description: "Two heads are better than one"</p> 
                <p class="card-text m-0">Hobbies: Books, Games, Travelling...</p> 
            </div>
            <div class="col-md-6 text-left">
                <h4 class="m-2">Job</h4>
                <p class="card-text m-0">Job Position: Software Developer, Engineer</p>
                <p class="card-text m-0">Company: I'm working as a freelancer</p>
                <h4 class="m-2">Social</h4>
                <a href="">{% fontawesome_icon 'facebook-square' large=True%} HaNguyenHuu</a> 
                <br>
                <a href="">{% fontawesome_icon 'youtube-square' large=True%} HuuHaNguyen</a>
                <br>
                <a href="">{% fontawesome_icon 'twitter-square' large=True%} HuuHaNguyen</a>
                <br>
                <a href="">{% fontawesome_icon 'github' large=True%} Github</a>
            </div>
        </div>
        <br>
        <br>
        <p>Website này là nơi để tôi truyền cảm hứng lập trình đến các bạn muốn học và tự học làm trang web cho bản thân mình. Bản thân tôi cũng là 1 người ngoại đạo, và luôn tham vọng tự mình viết lên 1 trang web cho bản thân. Hi vọng các bạn cùng tham gia đóng góp, và thảo luận cùng tôi.</p>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" id="show">Liên hệ --></button>
        </div>
    </div>
    <div id="myModalcontact" class="card text-left">
        
        <form method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
            {% csrf_token %}
            <h2 class="card-header mb-3 text-center">Liên hệ với tôi:</h2>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Địa chỉ email: (*)</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="noidung">Nội dung: (*)</label>
                    ​<textarea id="editor1" name="noidung" class="form-control" name="noidung"  placeholder="Noi dung" required autofocus></textarea>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-primary text-center" class="form-control" value="Gửi">
            </div>
            <script>
                // Replace the <textarea id="editor1"> with an CKEditor
                // instance, using default configurations.
                CKEDITOR.replace( 'editor1', {
                    uiColor: '#8C9B94',
                    toolbar: [
                        [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink' ],
                        [ 'FontSize', 'TextColor', 'BGColor' ,'Image','CodeSnippet'],['Format', 'Font']
                    ],
                    'extraPlugins':'codesnippet',
                });
            </script>
        </form>
    </div>
    {% for mes in messages %}
        <div class="alert alert-success" role="alert" id="success-alert">
            <p>{{mes}}</p>
        </div>
    {% endfor %}
    <br>
</div>


{% endblock content %}

{% block slidebar %}
{% include 'include/slidebar.html'%}
{% endblock slidebar %}

{% block script %}
    <script>
    $(document).ready(function(){
        $("#myModalcontact").hide();
        $("#show").click(function(){
            $("#myModalcontact").show();
        });
    });
    $(".alert").delay(4000).slideUp(200, function() {
        $(this).alert('close');
    });
    </script>
{% endblock script %}