{% extends 'pages/base.html' %}
{% load fontawesome %}

{% block title%}Error{% endblock title %}

{% block signup %}
    {% include 'include/sigin.html'%}
{% endblock signup %}

{% block header-image%}
{% include 'include/header_image.html'%}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active breadcrumb-item-home" aria-current="page">Error</li>
{% endblock breadcrumb %}

{% block content%}
<div class="col-lg-12" style="min-height: 500px;">
    <p class="alert alert-danger"> {% fontawesome_icon 'exclamation-triangle' large=True %}   Rất tiếc!...Không tìm thấy đường dẫn liên kết</p>
</div>

{% endblock content %}