{% extends 'pages/base.html'%}
{% load fontawesome %}

{% block title %}Self-study{% endblock title %}

{% block signup %}
    {% include 'include/sigin.html' %}
{% endblock signup %}

{% block headerimage %}
{% include 'include/header_image.html' %}
{% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block newpost %}
{% for obj in post_new %}
<a style="text-decoration:none;color:black" href="{% url 'blog:post_detail' slug=obj.slug %}"><i class="fa fa-caret-square-o-right" style="color:red"></i>  {{obj.title}}</a>
{% endfor %}
{% endblock newpost%}

{% block content %}

<div class="col-md-8">
    {% for obj in items %}
    
    <div class="card my-4">
        <div class="row">
            <div class="col-md-4">
                <img src="{{obj.image.url}}" class="card-img img-responsive" height=100% style="max-width: 100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'blog:post_detail' slug=obj.slug %}">{{obj.title}}</a></h4>
                    <nav class="nav d-flex justify-content-between col-md-8">
                        <small class="p-2"><i class="fa fa-user"></i> {{obj.author}}</small>
                        <small class="p-2"><i class="fa fa-eye"></i> {{obj.views}}</small>
                        <small class="p-2"># <a style="text-decoration:none;color:black" href="{% url 'blog:category_detail' slug=obj.category.slug %}">{{obj.category}}</small>
                    </nav>
                    <p class="card-text">{{obj.body|safe|truncatewords:15}}</p>
                    <small class="text-muted">Last updated: {{obj.published|timesince }} ago</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
 
{% include 'include/pagination.html'%}
</div>

{% endblock content %}

{% block slidebar %}
{% include 'include/slidebar.html'%}
{% endblock slidebar %}

