<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="nguyen huu ha">
    <title>Đăng nhập</title>

    <link rel="canonical" href="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 2.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css'%}" rel="stylesheet">
</head>
<body class="text-left">
    <form class="form-signin shadow-lg rounded-lg bg-white" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center">
            <img class="mb-4" src="{% static 'images/logo_web.svg'%}" alt="" width="122" height="122">
            <h2 class="h3 mb-3 font-weight-normal">Đăng nhập tài khoản</h2>
        </div>
        {{ form|crispy }}
        <div class="row">
            <div class="checkbox float-left col-md-6">
                <label>
                    <input type="checkbox" value="remember-me">Lưu thông tin
                </label>
            </div>     
            <div class="col-md-6">
                <a class="float-right" href="">Quên mật khẩu?</a>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Đăng nhập">
            <p class="mt-3 mb-3" >Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a></p>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
        </div>
    </form>
</body>
</html>

