{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% load fontawesome %}

{% block title %}{{category1}}{% endblock title %}

{% block signup %}
    {% include 'include/sigin.html'%}
{% endblock signup %}

{% block headerimage %}
{% include 'include/header_image.html' %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active breadcrumb-item-home" aria-current="page"><a style="text-decoration:none;color:black" href="{% url 'blog:category_detail' slug=category1.slug %}">{{category1}}</a></li>
{% endblock breadcrumb %}

{% block newpost %}
{% for obj in post_new %}
<a style="text-decoration:none;color:black" href="{% url 'blog:post_detail' slug=obj.slug %}"><i class="fa fa-caret-square-o-right" style="color:red"></i>  {{obj.title}}</a>
{% endfor %}
{% endblock newpost%}

{% block content %}
<div class="col-lg-8">
    <h1 class="card-header my-4 h4">{{category1}}</h1>
    
    {% if category1.slug == 'thu-vien' %}
    {% for obj in Post1 %}
    <div class="card my-4 shadow-sm">
        <div class="row">
            <div class="col-md-4">
                <img src="{{obj.image.url}}" class="card-img img-responsive" height=100% style="max-width: 100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'blog:post_detail' slug=obj.slug %}">{{obj.title}}</a></h5>
                    <small class="p-2">
                        {% fontawesome_icon 'user' %}  {{obj.author}}   {% fontawesome_icon 'eye' %} {{obj.views}} <a style="text-decoration:none;color:black" href="{% url 'blog:category_detail' slug=obj.category.slug %}">{% fontawesome_icon 'folder' %} {{obj.category}}</a>
                    </small>
                    <p class="card-text">{{obj.body|safe|truncatewords:15}}</p>
                    <small class="text-muted">Last updated: {{obj.published|timesince }} ago</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% elif category1.slug == 'giai-tri' %}
    <!--sua chua phan nay-->
    <div class="card-columns">
        {% for obj in Post1 %}
        <div class="card shadow-sm">
            <img src="{{obj.image.url}}" class="card-img img-responsive" height=100% style="max-width: 100%">
            <div class="card-footer">
                <h4 class="card-title h5"><a href="{% url 'blog:post_detail' slug=obj.slug %}">{{obj.title}}</a></h5>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    {% for obj in Post1 %}
    <div class="card my-4 shadow-sm">
        <div class="row">
            <div class="col-md-4">
                <img src="{{obj.image.url}}" class="card-img img-responsive" height=100% style="max-width: 100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'blog:post_detail' slug=obj.slug %}">{{obj.title}}</a></h5>
                    <small class="p-2">
                        {% fontawesome_icon 'user' %}  {{obj.author}}   {% fontawesome_icon 'eye' %} {{obj.views}} <a style="text-decoration:none;color:black" href="{% url 'blog:category_detail' slug=obj.category.slug %}">{% fontawesome_icon 'folder' %} {{obj.category}}</a>
                    </small>
                    <p class="card-text">{{obj.body|safe|truncatewords:15}}</p>
                    <small class="text-muted">Last updated: {{obj.published|timesince }} ago</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% include 'include/pagination.html'%}
{% endblock %}

{% block slidebar %}
{% include 'include/slidebar.html'%}
{% endblock slidebar %}