{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% load fontawesome %}

{% block title %}{{post1.title}}{% endblock title %}


{% block signup %}
    {% include 'include/sigin.html'%}
{% endblock signup %}


{% block breadcrumb %}
<li class="breadcrumb-item breadcrumb-item-home" aria-current="page">{{post1.category}}</li>
<li class="breadcrumb-item active breadcrumb-item-home" aria-current="page">{{post1.title}}</li>
{% endblock breadcrumb %}

{% block newpost %}
{% for obj in post_new %}
<a style="text-decoration:none;color:black" href="{% url 'blog:post_detail' slug=obj.slug %}">{% fontawesome_icon 'angle-double-right' color="red"%}  {{obj.title}}</a>
{% endfor %}
{% endblock newpost%}


{% block content %}
<div class="col-lg-8">
    <!-- Title -->
    <h1 class="card-header border-top border-left border-right my-4 h4">{{post1.title}}</h1>
    <!-- Author -->
    <p class="d-inline p-2">{% fontawesome_icon 'user' %}  {{post1.author}}</p>
    <p class="d-inline p-2">{% fontawesome_icon 'eye' %} {{post1.views}}</p>
    <p class="d-inline p-2">{% fontawesome_icon 'clock-o' %} {{post1.published|date:"M d, Y"}}</p>
    <p class="d-inline p-2">{% fontawesome_icon 'folder' %}<a style="text-decoration:none;color:black" href="{% url 'blog:category_detail' slug=post1.category.slug %}"> {{post1.category}}</a></p>

    <hr>
    <!-- Preview Image -->
    <img class="img-responsive rounded" src="{{post1.image.url}}" style="max-width: 100%;">
    <hr>
    <!-- Post Content -->
    {{post1.body|safe|linebreaks}}
    <hr>
    <p class="d-inline p-2">Thẻ: </p> 
    {% for item in post1.tag.all %}
    <p class="d-inline p-2 border bg-light">{{item}}</p>
    {% endfor %}
    <iframe class="float-right" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fselfstudy.tk%2Fdocs%2Fplugins%2F&layout=button_count&size=large&width=134&height=28&appId" width="134" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <hr>
    
    <div class="card my-4">
        <h4 class="card-header">Bài viết liên quan</h4>
        <div class="card-deck">
            {% for obj in post2%}
            <div class="card">
                <img src="{{obj.image.url}}" class="card-img-top" style="max-width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{obj.title}}</h5>
                    <p class="card-text"><small class="text-muted">Last updated: {{obj.published|timesince }} ago</small></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <!-- Comments Form -->
    <div class="card my-4">
        <div class="card-header" style="padding-bottom: 0">
            <div class="row">
            <div class='col-md-6'>
                <h4 class="d-inline float-left">{% fontawesome_icon 'fa-comments-o'%} Bình luận:</h4>
            </div>
            <div class="col-md-6">
                <p class="d-inline float-right">Số lượt bình luận: {{comments.count}}</p>
            </div>  
        </div>
        </div>
        <div class="card-body" style="padding-bottom: 4px">
            {% if request.user.is_authenticated%}
            <form action="." method="POST">
                {% csrf_token %}
                {{comment_form|crispy}}
                <input type="submit" value="Bình luận" class="btn btn-success btn-sm">
            </form>
            {% else %}
            <div class="alert alert-danger">
                <p style="margin-bottom: 4px">{% fontawesome_icon 'exclamation-triangle'%} Bạn hãy đăng nhập để tham gia bình luận!</p>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Comment with nested comments -->
    {% for comment in comments %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="{{comment.member.profile.image.url}}" width="50px" height="50px">
        <div class="media-body">
            <h5 class="mt-0">{{comment.member}}</h5>
            {{comment.body}}
            <footer class="blockquote-footer"> in {{comment.date|timesince}} ago |{% if comment.children.count > 0 %}{{ comment.children.count }}Comment{% if comment.children.count > 1 %}s{% endif %}|{% endif %}<a class="comment-reply-btn" href="">Reply</a></footer>
            
            <div class="comment-reply" style="display: none;">
                {% for child_comment in comment.children %}
                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="{{comment.member.profile.image.url}}" width="50px" height="50px">
                    <div class="media-body">
                        <h5 class="mt-0">{{child_comment.member}}</h5>
                        {{child_comment.body}}
                        <footer class="blockquote-footer">via {{child_comment.member}}| in {{child_comment.date|timesince}} ago</footer>
                    </div>
                </div>    
                {% endfor %}
                {% if request.user.is_authenticated%}
                <form action="." method="POST">
                    {% csrf_token %}
                    {{comment_form|crispy}}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <input type="submit" value="Bình luận" class="btn btn-success btn-sm">
                </form>
                {% else %}
                <div class="alert alert-danger">
                    <p style="margin-bottom: 4px">{% fontawesome_icon 'exclamation-triangle'%} Bạn hãy đăng nhập để tham gia bình luận!</p>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

{% block slidebar %}
{% include 'include/slidebar.html'%}
{% endblock slidebar %}