{% extends 'backend/base_backend.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}Quản lý bài viết{% endblock title %}
{% block content%}
<div class="container blog-main w-100"> 
    <div class="text-center">
        {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'new_post' %}
            <br>
            <h1 class="h4">Tạo bài viết mới</h1>
            <hr>
        {% elif url_name == 'edit_post' %}
            <br>
            <h1 class="h4">Chỉnh sửa bài viết {{post}}</h1>
            <hr>
        {% else %}
            <br>
            <h1 class="h4">Xoá bài viết: {{post}}</h1>
            <hr>
        {% endif %}
        {% endwith %}
    </div>
    <div class="mb-3 shadow-sm rounded-lg text-left">
    
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="True">x</span ></button>
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% else %}
    <form action="." method="POST">
        {% csrf_token %}
        <div>
            {{ form.media }}
            {{ form|crispy }}
        </div>
        
        {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'new_post' %}
            <input type="submit" value="Lưu" class="btn btn-success">
        {% elif url_name == 'edit_post' %}
            <input type="submit" value="Lưu lại" class="btn btn-success">
        {% else %}
            <button class="btn btn-danger" type="submit">Xoá</button>
        {% endif %}
        {% endwith %}
        
    </form>
    {% endif %}
    </div>
</div>
{% endblock %}