{% load fontawesome %}
{% if not request.user.is_authenticated %}
    <p>Ban chua dang nhap vao tai khoan!</p>
    <a class="btn-sm btn-primary text-decoration-none" href="{% url 'register' %}">{% fontawesome_icon 'user-plus' large=True %} Đăng ký</a>
    <a class="btn-sm btn-primary text-decoration-none" href="{% url 'login' %}">{% fontawesome_icon 'sign-in' large=True %} Đăng nhập</a>
{% else %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="{{user.profile.image.url}}" class="card-img img-responsive" width="100%" height="100%">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text">Xin chào {{user.username}}</p>
                    <a class="btn-sm btn-primary text-decoration-none" href="{% url 'logout' %}">{% fontawesome_icon 'sign-out' large=True %} Thoát</a>
                    {% if request.user.is_staff%}
                    <a class="btn-sm btn-primary text-decoration-none" href="{% url 'blog:dashboard' %}">Quản trị bài viết</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}


